logs/
wandb/
adapter_conceptnet_model/
adapter_conceptnet_model_3/
adapter_conceptnet_model_2/
logs2/
logs3/
__pycache__/
saves/
conceptnet_data/conceptnet_corpus_2.txt
conceptnet_data/rw_corpus_1.0_1.0_2_15_nl_2.txt
saved_models/
adapter_conceptnet_model_4/
random_adapter/
data/
